@tailwind base;
@tailwind components;
@tailwind utilities;



#root {
  font-weight: 400;
  color-scheme: light dark;
  color: rgb(0, 0, 0);
  background-color: #ffffff;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: scroll;
}
#root::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
  }

.custom-cont{
  padding-left: 5%;
  padding-right: 5%;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  width: 100%;
}
.new-container{
  width: 90%;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}
.scrollNone::-webkit-scrollbar {
  display: none;
}
.underlineAnimation {
  background: linear-gradient(0deg, #800000, #800000) no-repeat right bottom / 0 var(--bg-h);
  transition: background-size 350ms;
  /* --bg-h: 100%; */
  padding-bottom: 2px;
  --bg-h: 2px;
  /* text-decoration: none; */
  color: inherit;
  line-height: 1;
  display: inline;
  padding-bottom: 4px;
}
.underlineAnimation:hover {
  background-size: 100% var(--bg-h);
  background-position-x: left;
}
.underlineAnimation:focus-visible {
  background-size: 100% var(--bg-h);
  background-position-x: left;
}

input[type="text"], input[type="password"], textarea, select { 
    outline: none;
}

.borderBox:hover .cardImg {
  scale: 110%;
} 
